<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OAuth App Pays Test App - Auth page</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <h2>OAuth App Pays Test App</h2>
    <a href="https://app.hellosign.com/oauth/authorize?response_type=code&client_id=eb348a44ec740fdd6ebf02cc446f9847&state=b380aa09">Click this link to get authorized!</a>
  </body>
</html>
